## Assignment 1 (due date: March 7th, 2025)
### Student ID: 21251215
### Student Name: Yu Fengfei
### Data Source: https://www.kaggle.com/datasets/ibkya12/vehicle-price-prediction-dataset

 ### Q1. Fill all the `null` values with `"unknown"`.

### Q2. Reorder items by `year` in ascending order, then reset the index.

### Q3. How many cars are owned by each category of `seller_type`?

### Q4. How many cars having `selling_price` lower than 100000 with `km_driven` higher than 50000 for each year?

### Q5. What is the average `seats` of cars for each `transmission type`?

### Q6. Draw a scatter plot to investigate if `km_driven` and `selling_price` are positively correlated each other.

### Q7. Create a pivot table that shows the mean `km_driven` and `selling_price` values for each `fuel`.

### Q8. Check the unique values in the `owner` column and map 'First Owner' to 1, 'Second Owner' to 2 and 'Third Owner' to 3. The other values in `owener` should be assigned -1.

### Q9. Convert the `transmission` using one-hot encoding and merge the new column into the dataframe

### Q10. Apply min-max normalization to `seats`.

### Q11. Draw line charts of annually averaged values of `selling_price` separated by `fuel`.