## Q1. Write a Python function that takes a list of words as input and return a string with unique words separated by `,`.(**15 marks**)
`Example Input: ["apple", "banana", "apple", "orange", "banana", "grape"]`

`Example Output: "apple, banana, orange, grape"`

## Q2. Create a Python function that takes a number `n` as input, output an `n*n` numpy array with elements on the diagonal  0s, others are 1s. (**10 marks**)

`Example Input: 4`

`Example Output: [[0 1 1 1]
[1 0 1 1]
[1 1 0 1]
[1 1 1 0]]`

## Q3. Write a Python function that takes  a list of numerical values and integer `n` as inputs, plot a relative frequency histogram with `n` bins, to visualize their distribution. (**15 marks**)
`Example Input: [1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5],5`

`Example output (labels and the title are not mandatory):`

![Alt text](example.png "Optional title")

## Please download `lung_cancer_prediction_dataset.csv` from Moodle and Q4 to Q10 are based on this dataset

## Q4. Write Python program to implement the functions below (15 marks): 

1. Load the `lung_cancer_prediction_dataset.csv` into a dataframe (**2 marks**)
2. Check if any missing values in the dataframe (**5 marks**)
3. Count the number of zero values in `Survival_Years` and fill in zero values in the `Survival_Years` by `"Not applicable"` (**8 marks**)

## Q5. Write Python program to implement the following tasks. (**10 marks**)
1. Count the number of each unique item in `Air_Pollution_Exposure` and `Occupational_Exposure` columns (**4 marks**)
2. Create a new dataframe that contains dummy variables for both the `Air_Pollution_Exposure` and `Occupational_Exposure` columns. (**6 marks**)

## Q6. Write Python program to finish the following tasks. (10 marks)
1. Calculate the average age of smokers and non-smokers in the dataset. (**5 marks**)
2. Create a pivot table to show the average age of people with different gender and different lung cancer diagnosis status. (**5 marks**)

## Q7. Standardize the `Age` column (mean=0 and standard deviation=1) for Male individuals whose ages are between 30 and 50 years old, including both 30 and 50. (10 marks)

## Q8. Plot the frequency for `Air_Pollution_Exposure` in `Developing` regions. (5 marks)

## Q9. Apply min-max normalization to `Annual_Lung_Cancer_Deaths` and plot a boxplot for `Annual_Lung_Cancer_Deaths` by grouping the subjects based on their `Healthcare_Access`.  (**5 marks**)

## Q10. Plot the total number of `Annual_Lung_Cancer_Deaths` for different `Country` and `Gender` combinations (**5 marks**)