## Assignment 1 (due date: March 7th, 2025)
### Student ID: 21251215
### Student Name: Yu Fengfei
### Data Source: https://www.kaggle.com/datasets/ibkya12/vehicle-price-prediction-dataset

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv("Processed_Cardetails.csv")
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,brand,model
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,0,0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,1,1
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,2,2
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0,3,3
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0,0,4

 ### Q1. Fill all the `null` values with `"unknown"`.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
 13  brand          8128 non-null   int64
 14  model          8128 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 952.6+ KB

In [13]:
df = df.fillna("unknown")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        8128 non-null   object
 9   engine         8128 non-null   object
 10  max_power      8128 non-null   object
 11  torque         8128 non-null   object
 12  seats          8128 non-null   object
 13  brand          8128 non-null   int64
 14  model          8128 non-null   int64
dtypes: int64(5), object(10)
memory usage: 952.6+ KB

### Q2. Reorder items by `year` in ascending order, then reset the index.

In [15]:
df = df.sort_values(by='year', ascending=True)
df = df.reset_index(drop=True)
df.head(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,brand,model
0,Mahindra Willys CJ 3B 4X4,1983,300000,10000,Diesel,Individual,Manual,Third Owner,unknown,unknown,unknown,unknown,unknown,7,257
1,Maruti Omni LPG STD BSIV,1991,55000,120000,LPG,Individual,Manual,Second Owner,unknown,unknown,unknown,unknown,unknown,0,1126
2,Mahindra Jeep CL 500 MDI,1994,120000,100000,Diesel,Individual,Manual,Second Owner,unknown,unknown,unknown,unknown,unknown,7,765
3,Maruti 800 AC,1994,45000,60000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0,0,515
4,Ambassador Classic 2000 DSZ AC PS,1994,99000,100000,Diesel,Individual,Manual,Second Owner,12.8 kmpl,1995 CC,52 bhp,106Nm@ 2200rpm,5.0,27,1570
5,Mahindra Jeep MM 540,1995,160000,90000,Diesel,Individual,Manual,Third Owner,unknown,unknown,unknown,unknown,unknown,7,911
6,Maruti 800 Std,1995,55000,70000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0,0,39
7,Mahindra Jeep Classic,1996,163000,5000,Diesel,Individual,Manual,Second Owner,unknown,unknown,unknown,unknown,unknown,7,672
8,Maruti 800 DX,1996,40000,32000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0,0,782
9,Maruti 800 AC,1996,42000,70000,Petrol,Individual,Manual,Third Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0,0,515

### Q3. How many cars are owned by each category of `seller_type`?

### Q4. How many cars having `selling_price` lower than 100000 with `km_driven` higher than 50000 for each year?

### Q5. What is the average `seats` of cars for each `transmission type`?

### Q6. Draw a scatter plot to investigate if `km_driven` and `selling_price` are positively correlated each other.

### Q7. Create a pivot table that shows the mean `km_driven` and `selling_price` values for each `fuel`.

### Q8. Check the unique values in the `owner` column and map 'First Owner' to 1, 'Second Owner' to 2 and 'Third Owner' to 3. The other values in `owener` should be assigned -1.

### Q9. Convert the `transmission` using one-hot encoding and merge the new column into the dataframe

### Q10. Apply min-max normalization to `seats`.

### Q11. Draw line charts of annually averaged values of `selling_price` separated by `fuel`.